<ion-view view-title="Mindwave Reader">
    <ion-content scroll="true" has-bouncing="false">
        <div style="background: url(img/bkg.jpg);background-repeat: no-repeat;background-size: 100% 100%;width: 90%;height: 100%;margin: auto;z-index: 2;position: relative;">
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <!--<button class="button" ng-click="login()">Login</button>-->
            <button class="button button-block button-positive" ng-click="login()">
                <span class = "ion-social-googleplus"></span>&nbsp;&nbsp;Login with Google
            </button>
        </div>
    </ion-content>
</ion-view>