<ion-view>

    <ion-nav-title style="text-align: left;">Profile </ion-nav-title>
    <ion-content>
        <h1>Profile</h1>
        <!--        <form action="#" class="ws-validate">
            <h2>Calendar</h2>

            <div class="form-row">
                <input type="date" class="hide-replaced" />
            </div>
            <div class="form-row">
                <input type="submit" />
            </div>
        </form>-->
    </ion-content>
</ion-view>




<!--        <ion-list class=" webpage ">
            <ion-item ng-repeat="itemlist in itemlists " ng-click="display(itemlist.id,$index) ">
                {{itemlist.title}}
            </ion-item>
        </ion-list>
        <div ng-bind="names "></div>-->